# build
cmake-build-debug/**

# download files
bonus.md
README.md
业务要求.md
标准要求.md

# testcases
tests/**

# storage files
accounts_Body
accounts_Head
books_author_Body
books_author_Head
books_id
books_ISBN_Body
books_ISBN_Head
books_keyword_Body
books_keyword_Head
books_name_Body
books_name_Head
log
log_employee_report_Body
log_employee_report_Head
log_finance
log_finance_report

# CLion
.idea/**